{% extends 'layout.twig' %}

{% block body %}
	<div class="container p-4">
		<div class="row">
			<div class="col">
				<h1>Générateur d'attestation COVID</h1>
				<p>Selon le modèle téléchargeable sur https://media.interieur.gouv.fr/deplacement-covid-19/</p>
				<div class="alert alert-info">
					Ce formulaire sauvegarde vos informations dans votre navigateur et simplifie la génération d'attestations de sortie COVID. Aucune donnée n'est conservée ailleurs que sur votre ordinateur ou mobile (le code est Open Source est disponible sur xxx).</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				{% if data %}
					Données sauvegardées :
				{% else %}
					<form method="POST">
						<div class="form-group mb-4">
							<label for="nom">Nom</label>
							<input required name="nom" type="text" id="nom" class="form-control mb-4">
							<label for="prenom">Prénom</label>
							<input required name="prenom" type="text" id="prenom" class="form-control mb-4">
							<label for="datenaissance">Date de naissance</label>
							<input required name="datenaissance" type="date" id="datenaissance" class="form-control mb-4">
							<label for="lieunaissance">Lieu de naissance</label>
							<input required name="lieunaissance" type="text" id="lieunaissance" class="form-control mb-4">
						</div>
						<hr class="my-5">
						<div class="form-group mb-4">
							<label for="adresse">Adresse</label>
							<input required name="adresse" type="text" id="adresse" class="form-control mb-4">
							<label for="ville">Ville</label>
							<input required name="ville" type="text" id="ville" class="form-control mb-4">
							<label for="codepostal">Code postal</label>
							<input required name="codepostal" type="number" id="codepostal" class="form-control mb-4">
						</div>
						<input type="submit" class="btn btn-primary w-100">
					</form>
				{% endif %}

			</div>
		</div>
	</div>
{% endblock %}
