{% extends 'layout.twig' %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col p-4">
				<h1>Générateur d'attestation COVID</h1>
				<p>Selon le modèle téléchargeable sur https://media.interieur.gouv.fr/deplacement-covid-19/</p>
				<div class="alert alert-info">
					Ce formulaire sauvegarde vos informations dans votre navigateur et simplifie la génération d'attestations de sortie COVID. Aucune donnée n'est envoyée conservée ailleurs que sur votre ordinateur ou mobile.</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				{% if data %}
					{% else %}
						<form method="POST">
							<label for="nom">Nom</label>
							<input type="text" id="nom" class="form-control">
						</form>
				{% endif %}

			</div>
		</div>
	</div>
{% endblock %}
